@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,600;1,300&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

input, button, textarea, select {
  font: inherit;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 500px;
  min-height: 400px;
  background-image: linear-gradient(
  0deg,
  hsl(192deg 80% 25%) 0%,
  hsl(192deg 80% 22%) 50%,
  hsl(192deg 79% 20%) 100%
);
  color: hsl(192, 47%, 86%);
  margin: 120px auto;
  padding: 30px;
  border-radius: 8px;
  box-shadow:
      0 1px 1px hsl(0deg 0% 0% / 0.075),
      0 2px 2px hsl(0deg 0% 0% / 0.075),
      0 4px 4px hsl(0deg 0% 0% / 0.075),
      0 8px 8px hsl(0deg 0% 0% / 0.075),
      0 16px 16px hsl(0deg 0% 0% / 0.075);
}

h1 {
  margin-bottom: 20px;
}

input {
  width: 300px;
  font-size: 14px;
  font-weight: 400;
  padding: 11px 16px;
  margin: 0 10px 20px 0;
  font-size: 14px;
  border: 0;
  outline: none;
  background-color: hsl(192, 47%, 96%);
  border-radius: 99999px;
}

.btn {
  width: 80px;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  justify-content: center;
  padding: 11px 16px;
  cursor: pointer;
  border: 0;
  outline: none;
  border-radius: 99999px;
  background: 
    hsl(184, 100%, 25%);
  color: hsl(192, 47%, 96%);
}

.btn:hover {
  background: hsl(160, 100%, 30%);
  transition: 0.2s ease-in-out;
}

.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 12px;
  padding: 6px 16px;
  border-radius: 99999px;
  color: hsl(192, 47%, 96%);
  background: linear-gradient(
    to right,
    hsl(184, 100%, 35%),
    hsl(184, 100%, 25%)
  );
}
.done {
  opacity: 0.35;
}

.icons {
  display: flex;
  align-items: center;
  font-size: 26px;
  cursor: pointer;
  color: hsl(192, 47%, 96%);
}

/* svg {
  transition: 0.2s ease-in-out;
} */

svg:hover {
  transform: scale(1.35);
  transition: 0.2s ease-in-out;
}

.done-icon {
  margin-right: 6px;
}

